<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
<section class="about_section">
  <div class="about_header_text">
    <h1>អំពីយើង</h1>
    <p>ស្វែករក និងយល់ដឹងព័ត៏មានរបស់ភោជនីដ្ឋានរបស់ពួកយើង</p>
  </div>
</section>

<div class="container_width">
  <!-- about us section -->
  <section class="about_us_section p_top5">
    <div class="grid_1x2">
      <article class="about_us_detail_content">
        <h2>អំពីយើង</h2>
        <p>
          មរតក គឺជាភោជនីយដ្ឋានតែមួយគត់របស់ខ្មែរដែលជាកន្លែងផលិតម្ហូប បង្អែម
          និងទឹកពីផ្លែឈើពីរុក្ខជាតិរបស់ខ្មែរ។ មានចុងភៅធ្វើម្ហូបដែលមានបទពិសោធន៏
          និងប្រើប្រាស់គ្រឿងផ្សំប្រកបដោយក្បួនខ្នាតរបស់ខ្មែរ
          ដែលធ្វើអោយម្ហូបនៅរក្សារស់ជាតិខ្មែរបុរាណដើមពិត ហើយមានរស់ជាតិឆ្ញាញ់ ។
        </p>
        <p class="since">តាំងពីឆ្នាំ ១៩៩៩</p>
      </article>
      <article class="about_us_img_content">
        <div class="about_us_img_card">
          <img src="assets/images/about_us.webp" alt="" />
        </div>
      </article>
    </div>
  </section>
  <!-- card detail about -->
  <section class="about_content_card p_top10">
    <div class="warpper_about_icons grid_1x4">
      <article class="content_icon">
        <div class="card_icon_about">
          <i class="fa-solid fa-users"></i>
        </div>
        <p class="about_title_box">អ្នកទស្សនាប្រចាំថ្ងៃ</p>
        <p class="about_detail_box">200+</p>
      </article>
      <article class="content_icon">
        <div class="card_icon_about">
          <i class="fa-solid fa-truck"></i>
        </div>
        <p class="about_title_box">ការដឹកជញ្ជូនប្រចាំខែ</p>
        <p class="about_detail_box">400+</p>
      </article>
      <article class="content_icon">
        <div class="card_icon_about">
          <i class="fa-solid fa-comments"></i>
        </div>
        <p class="about_title_box">មតិយោបល់វិជ្ជមាន</p>
        <p class="about_detail_box">100%</p>
      </article>
      <article class="content_icon">
        <div class="card_icon_about">
          <i class="fa-solid fa-award"></i>
        </div>
        <p class="about_title_box">ពានរង្វាន់ និងកិត្តិយស</p>
        <p class="about_detail_box">50+</p>
      </article>
    </div>
  </section>

  <!-- never miss update -->
  <section class="update_section p_top10">
    <h2>កុំអោយខកខាននៃព័ត៏មានថ្មីៗ</h2>
    <p>
      ចុះឈ្មោះសម្រាប់ព្រឹត្តិបត្រព័ត៌មានរបស់យើង
      ហើយស្វែងយល់អំពីព្រឹត្តិការណ៍ពិសេស
      និងការផ្សព្វផ្សាយមុនពេលយើងប្រកាសពួកវានៅកន្លែងផ្សេងទៀត!
    </p>
    <div class="update_form">
      <form action="">
        <input type="email" name="" id="" placeholder="email" />
        <input type="button" value="subscribe" />
      </form>
    </div>
  </section>

  <!-- what we do section -->
  <section class="wedo_section p_top5">
    <div class="grid_1x4">
      <article class="about_wedo_card_text">
        <em>ផលិតផលថ្មី</em>
        <p>អ្វីដែលយើងយកទៅធ្វើនៅក្នុងភោជនីយដ្ឋាន</p>
        <span>
          <p>មើលផលលិតផលទាំងអស់។</p>
          <i class="fa-solid fa-chevron-right"></i>
        </span>
      </article>
      <article class="about_wedo_card">
        <div class="warpper_about_wedo_img">
          <img src="assets/images/we_do_icon.jpg" alt="" />
        </div>
        <div class="title_wedo">
          <p>បន្លែស្រស់ៗ</p>
        </div>
      </article>
      <article class="about_wedo_card">
        <div class="warpper_about_wedo_img">
          <img src="assets/images/we_do_icon_1.jpg" alt="" />
        </div>
        <div class="title_wedo">
          <p>សាច់ស្រស់</p>
        </div>
      </article>
      <article class="about_wedo_card">
        <div class="warpper_about_wedo_img">
          <img src="assets/images/we_do_icon_2.jpg" alt="" />
        </div>
        <div class="title_wedo">
          <p>ពងទា និងពងមានធម្មជាតិ</p>
        </div>
      </article>
    </div>
    <div class="grid_1x3 warpper_wedo_content">
      <article class="about_wedo_card_2">
        <div class="warpper_about_wedo_img_2">
          <img src="assets/images/we_do_icon_3.jpg" alt="" />
        </div>
        <div class="title_wedo">
          <p>សាច់ស្រស់ៗ</p>
        </div>
      </article>
      <article class="about_wedo_card_2">
        <div class="warpper_about_wedo_img_2">
          <img src="assets/images/we_do_icon_4.jpg" alt="" />
        </div>
        <div class="title_wedo">
          <p>គ្រឿងផ្សំមានគុណភាពល្អ</p>
        </div>
      </article>
      <article class="about_wedo_card_2">
        <div class="warpper_about_wedo_img_2">
          <img src="assets/images/we_do_icon_3.jpg" alt="" />
        </div>
        <div class="title_wedo">
          <p>Fresh product</p>
        </div>
      </article>
    </div>
  </section>

  <!-- user review -->
  <section class="about_user_review p_top5">
    <div class="grid_1x2">
      <article class="about_detail_review">
        <h2>មតិដែលទទួលបានពីអតិថិជនរបស់យើង</h2>

        <p>
          ទាំងអស់នេះគឺជាមតិដែលអតិថិជនដែលបានមកបរិភោគ
          និងបានកម្មងនៅតាមគេហទំព័រនៅហាងរបស់យើង
          ហើយពួកយើងពិតជាមានមោទនភាពដែលពួកគេបានពេញចិត្តនូវអ្វីដែលពួកយើងបានប្តល់ជូន។
        </p>

        <div class="">
          <button class="button">
            <a>មើលច្រើនទៀត</a>
          </button>
        </div>
      </article>
      <article class="about_img_review">
        <div class="warpper_about_content_review">
          <div class="">
            <div class="about_card_img_review">
              <img src="assets/images/review-image-1.jpg" alt="" />
            </div>
          </div>
          <div class="about_name_review">
            <p>លោក ថាន ហុង</p>
            <p>
              ខ្ញុំពិតជាពេញចិត្តនូវភោជនីដ្ឋាន​ ហើយអាហារមានរស់ជាតិឆ្ងុយឆ្ញាញ់
              ហើយសេវាកម្មល្អផងដែរ។
            </p>
          </div>
        </div>
        <div class="warpper_about_content_review">
          <div class="">
            <div class="about_card_img_review">
              <img src="../assets/images/review-image-2.jpg" alt="" />
            </div>
          </div>
          <div class="about_name_review">
            <p>អ្នកនាង​ សុខ កិន្និការ</p>
            <p>
              ខ្ញុំពិតជាពេញចិត្តនូវការតុបតែងនូវភាជនីដ្ឋាន ហើយសេវាកម្មល្អផងដែរ។
            </p>
          </div>
        </div>
        <div class="warpper_about_content_review">
          <div class="">
            <div class="about_card_img_review">
              <img src="../assets/images/review-image-3.jpg" alt="" />
            </div>
          </div>
          <div class="about_name_review">
            <p>អ្នកនាង ពេច ពិសី</p>
            <p>
              ខ្ញុំពិតជាពេញចិត្តនូវមុខម្ហូបខជើងជ្រូក វាមានរស់ជាតិឆ្ងុយឆ្ញាញ់
              ហើយសេវាកម្មល្អផងដែរ។
            </p>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>