<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
<section class="about_section ptop_5">
  <div class="about_header_text">
    <h1>ទាក់ទងមកពួកយើង</h1>
    <p>លោកអ្នកអាចទំនាក់ទំនងមកកាន់ពួកយើងតាមព័ត៏មានខាងក្រោម</p>
  </div>
</section>

<section class="contact_warpper_section p_top10">
  <div class="grid_1x3">
    <article class="card_address">
      <p class="header_address">អាស័យដ្ឋាន</p>
      <address>123312, ភូមិន្ទចុងខ្សាច់, ទួលសង្កែរ, ឬស្សីកែវ, ភ្នំពេញ</address>
      <div class="btn_address">
        <a><i class="fa-solid fa-location-dot"></i> នៅខាងក្រោមនេះដើម្បីស្វែងរក
        </a>
      </div>
    </article>
    <article class="card_phone">
      <p class="header_address">លេខទូរស័ព្ទ</p>
      <span>
        <p>ការិយាល័យលក់កណ្តាល</p>
        <p>+855 012 345 678</p>
      </span>
      <span>
        <p>អ្នកទទួលភ្ញៀវ</p>
        <p>+855 012 345 678</p>
      </span>
      <span>
        <p>ទំនាក់ទំនងសាធារណៈ</p>
        <p>+855 012 345 678</p>
      </span>
    </article>
    <article class="card_work_schedule">
      <p class="header_address">កាលវិភាគការងារ</p>
      <div class="time_work">
        <p>ថ្ងៃច័ន្ទ​​ - ថ្ងៃសុក្រ</p>
        <span>
          <p>08:00 AM</p>
          <i class="fa-solid fa-arrow-right"></i>
          <p>03:00 PM</p>
        </span>
      </div>
      <div class="time_work">
        <p>ថ្ងៃសុក្រ - ថ្ងៃអាទិត្យ</p>
        <span>
          <p>01:00 AM</p>
          <i class="fa-solid fa-arrow-right"></i>
          <p>03:00 PM</p>
        </span>
      </div>
    </article>
  </div>
</section>

<section class="ptop_5">
  <div class="warpper_map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31267.432507848876!2d104.84739085964083!3d11.592728408422026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3109519fe4077d69%3A0x20138e822e434660!2sRoyal%20University%20of%20Phnom%20Penh!5e0!3m2!1sen!2skh!4v1730662887064!5m2!1sen!2skh"
      width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>