<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
<div class="container_width">
  <!-- hero section -->
  <section class="hero_section p_top5">
    <article class="hero_card">
      <h1>សួស្តី សូមស្វាគមន៏មកកាន់ភោជនីយដ្ឋាន មរតក</h1>
      <p>
        ស្វែងរកមុខម្ហូបខ្មែរដែលអ្នកពេញចិត្តនៅទីនោះ
        ភោជនីយដ្ឋានរបស់ពួកយើងមានលក់មុខម្ហូបរបស់ខ្មែរគ្រប់ប្រភេទ
        ហើយភ្ជាប់ជារស់ជាតិដើមតាំងពីសម័យបុរាណ និងមានរស់ជាតិឆ្ញាញ់
      </p>
      <div class="hero_img">
        <img src="assets/images/Amok_coconut.png" alt="hero image" class="main_hero_image" />
      </div>
      <div class="hero_image_slider">
        <img src="assets/images/Amok_coconut.png" alt="" />
        <img src="assets/images/Nhom_Bach_Jok_2.png" alt="" />
        <img src="assets/images/hero_img.png" alt="" />
      </div>
    </article>
  </section>
  <!-- end hero section -->

  <!-- tranditional section -->
  <section class="tranditional_section p_top10">
    <div class="grid_1x2">
      <div class="traditional_detail">
        <h2>មុខម្ហូបតំណាងអោយប្រទេសខ្មែរ</h2>
        <p>
          មុខម្ហូបហហ្មុកជាមុខម្ហូបខ្មែរបុរាណមួយប្រភេទដែលបានធ្វើដោយត្រីស្រស់(ត្រីរ៉ស់
          ឬត្រីឆ្ដោរ) ហើយផ្សំគ្រឿងមានកាពិបុកនិងខ្ទីះដូងជាដើម
          ខ្ចប់ចំហុយជាមូយនឹងស្លឹកចេក ធ្វើរាងជាកន្ទោង។
        </p>
        <button class="button">
          <a>មើលច្រើនទៀត</a>

        </button>
      </div>
      <div class="tranditional_img">
        <img src="assets/images/hero_img.png" alt="" />
      </div>
    </div>
  </section>
  <!-- end tranditional section -->

  <!-- popular product section -->
  <section class="popular_section p_top5">
    <h2>មុខម្ហូបដែលលក់ដាច់ប្រចាំហាង</h2>
    <p>ខាងក្រោមនេះជាមុខម្ហូបដែលមាននាក់កម្មងច្រើនជាងគេ</p>
    <div class="grid_1x3">
      <article class="product_popular">
        <a href="">
          <div class="product_popular_img">
            <img src="assets/images/Nhom_Bach_Jok_2.png" alt="" />
          </div>
          <p class="title_product">នំបញ្ចុក់សម្លប្រហើរ</p>
          <p class="detail_product">
            នំបញ្ចុក់សម្លប្រហើរជាមុខម្ហូបដែលពេញនិយមហើយមានរស់ជាតិឆ្ងុយឆ្ញាញ់
          </p>
          <button class="btn_popular">
            <a>ស្វែករកអីឡូវនេះ</a>
          </button>
        </a>
      </article>

      <article class="product_popular">
        <a href="">
          <div class="product_popular_img">
            <img src="assets/images/Amok_coconut.png" alt="" />
          </div>
          <p class="title_product">ហហ្មុកដូង</p>
          <p class="detail_product">
            អាម៉ុកដូងសម្លប្រហើរជាមុខម្ហូបដែលពេញនិយមហើយមានរស់ជាតិឆ្ងុយឆ្ញាញ់
          </p>
          <button class="btn_popular">
            <a>ស្វែករកអីឡូវនេះ</a>
          </button>
        </a>
      </article>

      <article class="product_popular">
        <a href="">
          <div class="product_popular_img">
            <img src="assets/images/Nhom_Bach_Jok.png" alt="" />
          </div>
          <p class="title_product">នំបញ្ចុក់សម្លគីរី</p>
          <p class="detail_product">
            អាម៉ុកដូងសម្លគីរីជាមុខម្ហូបដែលពេញនិយមហើយមានរស់ជាតិឆ្ងុយឆ្ញាញ់
          </p>
          <button class="btn_popular">
            <a>ស្វែករកអីឡូវនេះ</a>
          </button>
        </a>
      </article>
    </div>
  </section>
</div>

<!-- Image Show -->
<section class="image_show p_top5">
  <h2>មុខម្ហូបផ្សេងៗទៀត</h2>
  <div class="layout_container">
    <img width="400px" src="assets/images/product_1.jpg" alt="" />
    <img width="400px" src="assets/images/image5.jpg" alt="" />
    <img width="400px" src="assets/images/image3.jpg" alt="" />
    <img width="400px" src="assets/images/image2.jpg" alt="" />
    <img width="400px" src="assets/images/image6.jpg" alt="" />
    <img width="400px" src="assets/images/image7.jpg" alt="" />
  </div>
</section>