<!-- hero section menu -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
<section class="header_hero_menu p_top5">
  <div class="grid_1x2">
    <div class="menu_detail">
      <h1>អាហាររស់ជាតិឆ្ងាញ់កំពុងរង់ចាំអ្នក</h1>
      <button class="button">
        <a>ស្វែងរកអីឡូវនេះ</a>
        <style>
          .button {
            background-color: #fffefb;
            text-align: center;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
          }

          .button:hover {
            background-color: #211e10;
          }
        </style>
      </button>
      <div class="wrapper_menu_icon">

      </div>
    </div>
    <div class="menu_image">
      <div class="card_img_menu">
        <img src="assets/images/Amok_coconut.png" alt="" />
      </div>
    </div>
  </div>
</section>

<!-- marquee card -->
<section class="marquee_section ptop_5">
  <div class="warpper_card_marquee">
    <div class="item item1">
      <div class="box_marquee">
        <div class="icon_marquee">
          <img src="../assets/images/ទឹកដូង.png" alt="" />
        </div>
        <div class="text_marquee">
          <p>ភេសជៈ</p>
          <p>ទឺកដូងក្រអូប</p>
        </div>
      </div>
    </div>

    <div class="item item2">
      <div class="box_marquee">
        <div class="icon_marquee">
          <img src="../assets/images/khor_Pig.png" alt="" />
        </div>
        <div class="text_marquee">
          <p>អាហារ</p>
          <p>ម្ហូបខជើងគោ</p>
        </div>
      </div>
    </div>

    <div class="item item3">
      <div class="box_marquee">
        <div class="icon_marquee">
          <img src="../assets/images/លតស្វិត.png" alt="" />
        </div>
        <div class="text_marquee">
          <p>បង្អែម</p>
          <p>បង្អែមលតស្វិត</p>
        </div>
      </div>
    </div>

    <div class="item item4">
      <div class="box_marquee">
        <div class="icon_marquee">
          <img src="../assets/images/drink-1.png" alt="" />
        </div>
        <div class="text_marquee">
          <p>ភេសជៈ</p>
          <p>មរតកកាហ្វេ</p>
        </div>
      </div>
    </div>

    <div class="item item5">
      <div class="box_marquee">
        <div class="icon_marquee">
          <img src="../assets/images/Nhom_Bach_Jok.png" alt="" />
        </div>
        <div class="text_marquee">
          <p>អាហារ</p>
          <p>នំបញ្ចុក់សម្លគីរី</p>
        </div>
      </div>
    </div>

    <div class="item item6">
      <div class="box_marquee">
        <div class="icon_marquee">
          <img src="../assets/images/បង្អែមត្រសក់ស្រូវ.png" alt="" />
        </div>
        <div class="text_marquee">
          <p>បង្អែម</p>
          <p>បង្អែមត្រសក់ស្រូវ</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- header -->
<header class="header_menu p_top5">
  <div class="warpper_header_menu">
    <div class="category">
      <span>ប្រភេទម្ហូប</span>
    </div>
    <div class="list_menu">
      <ul class="filter_List">
        <li>
          <a data-category="all" class="btn_menu_filter active">ទាំងអស់ </a>
        </li>
        <li>
          <a data-category="food" class="btn_menu_filter">សម្លរ </a>
        </li>
        <li>
          <a data-category="drink" class="btn_menu_filter">ភេសជ្ជៈ</a>
        </li>
        <li>
          <a data-category="cake" class="btn_menu_filter">បង្អែម</a>
        </li>
      </ul>
    </div>
    <div class="warpper_search">
      <input type="text" placeholder="ស្វែងរកអាហារ...." id="txt_search_menu" />
    </div>
  </div>
</header>

<!-- product list -->
<div class="product_list grid_1x4">
  <!-- <article class="card_product">
    <div class="card_produc_img">
      <img src="assets/images/hero_img2.png" alt="" />
    </div>
    <p class="product_name">Name product</p>
    <p class="product_price">$03.00</p>
    <button class="btn_cart">Add to cart</button>
  </article> -->
</div>