<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
<section class="about_section">
  <div class="about_header_text">
    <h1>អគុណសម្រាប់ការគាំទ្ររបស់អ្នក!</h1>
    <p>ស្វែករក និងយល់ដឹងអំពីមុខម្ហូបដែលមានរស់ជាតិឈ្ងុយឆ្ងាញ់</p>
  </div>
</section>

<div class="grid_1x3 p_top10">
  <div class="warpper_recommand">
    <h2>បង្អែមដែលអ្នកចុងភៅណែនាំ</h2>
    <p>
      បង្អែមសង់ខ្យាគឺជាមុខម្ហូបមួយដែលមានរស់ជាតិឈ្ងុយឆ្ញាញ់
      និងមានភាពល្បីល្បាញ់តាំងពីមុនមកម្លោះ។ នៅចាំអ្វីទៀតសាកវាអីឡូវនេះ
    </p>
    <div class="warpper_img_recommand">
      <img src="../assets/images/សង់ខ្យាល្ពៅ.png" alt="" />
    </div>
  </div>

  <div class="warpper_recommand bg_recommand">
    <div class="warpper_img_recommand">
      <img src="assets/images/Nhom_Bach_Jok.png" alt="" />
    </div>
    <h2>ម្ហូបដែលលក់ដាច់ជាងគេប្រចាំហាង</h2>
    <p>
      ម្ហូបនេះលក់ដាច់ជាងគេ ប្រចាំហាង
      តោះសាកម្ហូបទាំងអស់គ្នាដើម្បីបានរសជាតិដ៍អស្ចារ្យមិនធ្លាប់បានភ្លក់​ ​។
    </p>
  </div>

  <div class="warpper_recommand">
    <h2>គុណភាពនៃគ្រឿងផ្សំរបស់ម្ហូបអាហារ</h2>
    <p>
      ការប្រើប្រាស់គ្រឿងផ្សំគឺពួកយើងបានគិតយ៉ាងម៉ត់ចត់ដើម្បីធានាឲ្យបាននៃរសជាតិម្ហូបមួយដ៏ល្អ
      ហើយគិតដល់សុខភាពរបស់អតិថិជន​​។
    </p>
    <div class="warpper_img_recommand">
      <img src="../assets/images/incredean.png" alt="" />
    </div>
  </div>
</div>

<div class="grid_1x3 p_top5">
  <div class="warpper_recommand">
    <h2>ភេសជ្ជៈដែលលក់ដាច់ប្រចាំហាង</h2>
    <p>
      ភេសជៈមួយនេះមានការគាំទ្រពីសំណាក់ដែលបានមកកាន់ហាងរបស់យើងផ្ទាល់
      និងអ្នកដែលបានកម្មងទិញនៅតាមគេហរទំព័រផងដែល។
    </p>
    <div class="warpper_img_recommand">
      <img src="../assets/images/ទឹកដូង.png" alt="" />
    </div>

    <div class="warpper_socail_recommand">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-telegram"></i>
      <i class="fa-brands fa-square-instagram"></i>
    </div>
  </div>

  <div class="warpper_recommand bg_recommand">
    <h2>សេវាកម្ម</h2>
    <p>
      ហាងយើងខ្ញុំ​ មានការបម្រើអតិថិជន​យ៉ាងយកចិត្តដាក់
      ព្រមទាំងទទួលរៀបចំកម្មវិធីពិសេសផងដែរ ។
    </p>
    <h2>ព័ត៏មានបន្ថែម</h2>
    <div class="warpper_contact_recommand">
      <span><i class="fa-solid fa-phone"></i></span>
      <p>012 345 678</p>
    </div>

    <div class="warpper_contact_recommand">
      <span><i class="fa-solid fa-envelope"></i></span>
      <p>qwer12@gmail.com</p>
    </div>

    <div class="warpper_contact_recommand">
      <span><i class="fa-solid fa-globe icon"></i> </span>
      <p>www.qwer.com</p>
    </div>

    <h2>ទីតាំង</h2>
    <div class="warpper_contact_recommand">
      <span> <i class="fa-solid fa-location-dot"></i> </span>
      <p>find our location</p>
    </div>
    <p>Open from : 6:00 AM - 6:00 AM</p>
  </div>

  <div class="warpper_recommand">
    <h2>មុខម្ហូបតំណាងអោយប្រទេសខ្មែរ</h2>

    <div class="warpper_img_recommand">
      <img src="../assets/images/Amok_coconut.png" alt="" />
    </div>

    <h2>ទទួលបានការបញ្ចុះតម្លៃ</h2>
    <p>អតិថិជននឹងទទួលបានការបញ្ចុះតម្លៃរាល់ឳកាសថ្ងៃពិសេសរបស់ហាងយើងខ្ញុំ​ ​។</p>
    <h3>www.qwer.com</h3>
  </div>
</div>