<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
<section class="about_section p_top5">
  <div class="service">
    <div class="warpper_service_text">
      <h1>សេវាកម្មរបស់យើង</h1>
      <p>ទទួលទានអាហារជាមួយយើង</p>
    </div>
    <div class="warpper_service_img">
      <div class="warpper_img_service_top">
        <img src="assets/images/service_img.png" alt="" />
      </div>
    </div>
  </div>
</section>

<div class="grid_1x3 p_top5">
  <div class="warpper_recommand_service">
    <div class="warpper_contact_recommand_new">
      <span>
        <i class="fa-solid fa-truck"></i>
      </span>
    </div>
    <h2>ការដឹកជញ្ជូន</h2>
    <p>
      សេវាកម្មដឹកជញ្ជូនរហ័សរបស់យើងនាំមកជូននូវមុខម្ហូបដែលអ្នកចូលចិត្តទៅដល់មាត់ទ្វាររបស់អ្នក
    </p>
    <button class="button_new">
      <a>មើលច្រើនទៀត</a>
      <style></style>
    </button>
  </div>

  <div class="warpper_recommand_service_bg">
    <div class="warpper_contact_recommand_bg_new">
      <span>
        <i class="fa-solid fa-boxes-packing"></i>
      </span>
    </div>
    <h2>ការវេចខ្ចប់</h2>
    <p class="text_service_white">
      ការវេចខ្ចប់មានប្រកបទៅដោយអនាម័យ
      និងមិនធ្វើអោយប៉ះពាល់លើគុណភាពអាហាររបស់លោកអ្នក
    </p>
    <button class="button_new">
      <a>មើលច្រើនទៀត</a>
    </button>
  </div>

  <div class="warpper_recommand_service">
    <div class="warpper_contact_recommand_new">
      <span>
        <i class="fa-solid fa-bell-concierge"></i>
      </span>
    </div>
    <h2>អ្នកបម្រើម្ហូប</h2>

    <p>
      បុគ្គលិករួសរាយរាក់ទាក់
      និងយកចិត្តទុកដាក់ធ្វើទទួលទានអាហាររបស់អ្នកមិនអាចបំភ្លេចបាន
    </p>
    <button class="button_new">
      <a>មើលច្រើនទៀត</a>
    </button>
  </div>

  <div class="warpper_recommand_service">
    <div class="warpper_contact_recommand_new">
      <span>
        <i class="fa-solid fa-kitchen-set"></i>
      </span>
    </div>
    <h2>ចុងភៅ</h2>
    <p>
      ប្រកបដោយបទពិសោធន៍តាំងពីបុរាណហើយការចំអិនអាហាររក្សាបាននូវរស់ជាតិដើម
      និងរហ័សទាន់ចិត្ត
    </p>
    <button class="button_new">
      <a>មើលច្រើនទៀត</a>
    </button>
  </div>

  <div class="warpper_recommand_service">
    <div class="warpper_contact_recommand_new">
      <span>
        <i class="fa-solid fa-shop"></i>
      </span>
    </div>
    <h2>ការតុបតែងហាង</h2>
    <p>
      រៀបចំហាងដូចទៅនឹងសម័យដើម ដើម្បីអោយលោកអ្នកមានរម្មណ៍អ្នកជាមួយកន្លែងសម័យដើម
    </p>
    <button class="button_new">
      <a>មើលច្រើនទៀត</a>
    </button>
  </div>

  <div class="warpper_recommand_service">
    <div class="warpper_contact_recommand_new">
      <span>
        <i class="fa-solid fa-utensils"></i>
      </span>
    </div>
    <h2>សម្ភារៈ</h2>
    <p>
      សម្ភារៈប្រកបដោយអនាម័យ និងមានផាសុភាពមានទំនុកចិត្តដល់ការបរិភាគរបស់លោកអ្នក
    </p>
    <button class="button_new">
      <a>មើលច្រើនទៀត</a>
    </button>
  </div>
</div>

<div class="grid_1x2 p_top10">
  <div class="warpper_recommand_one">
    <p>ឥឡូវនេះវាដំណើរការ</p>
    <h2>ដំណើរការការងារ​ <br />របស់យើង</h2>
    <div class="warpper_contact_recommand_one">
      <span>
        <i class="fa-solid fa-chart-simple"></i>
      </span>
      <div class="warpper_contact_recommand_one_text">
        <h3>ការគ្រប់គ្រង់អីវ៉ាន់</h3>
        <p>
          ពិនិត្យកម្រិតស្តុកសម្រាប់គ្រឿងផ្សំ និងការផ្គត់ផ្គង់។
          ការបញ្ជាទិញសម្រាប់ការបំពេញបន្ថែមតាមតម្រូវការ
        </p>
      </div>
    </div>
    <div class="warpper_contact_recommand_one">
      <span>
        <i class="fa-solid fa-calendar-days"></i>
      </span>
      <div class="warpper_contact_recommand_one_text">
        <h3>បុគ្គលិក និងកាលវិភាគ</h3>
        <p>
          ការបង្កើតកាលវិភាគដើម្បីបង្កើនប្រសិទ្ធភាពតម្លៃពលកម្ម
          និងធានាបាននូវការធានារ៉ាប់រងគ្រប់គ្រាន់
        </p>
      </div>
    </div>
    <div class="warpper_contact_recommand_one">
      <span>
        <i class="fa-solid fa-handshake-simple"></i>
      </span>
      <div class="warpper_contact_recommand_one_text">
        <h3>ការណាត់ជួប និងកន្លែងអង្គុយ</h3>
        <p>
          ស្វាគមន៍ភ្ញៀវ និងផ្តល់ការស្វាគមន៍យ៉ាងកក់ក្តៅ។
          ការចាត់តាំងតារាងដោយផ្អែកលើភាពអាចរកបាន និងចំណូលចិត្តរបស់ភ្ញៀវ
        </p>
      </div>
    </div>
  </div>
  <div class="warpper_recommand_one">
    <div class="warpper_service_img_one">
      <div class="warpper_img_service_one">
        <img src="assets/images/service_two.png" alt="" />
      </div>
    </div>
    <div class="warpper_contact_recommand_one">
      <span>
        <i class="fa-solid fa-cart-arrow-down"></i>
      </span>
      <div class="warpper_contact_recommand_one_text">
        <h3>ទទួលការបញ្ជាទិញ</h3>
        <p>
          បង្ហាញម៉ឺនុយ និងការពន្យល់ពិសេស។ កត់ត្រាការបញ្ជាទិញយ៉ាងត្រឹមត្រូវ
          រួមទាំងសំណើ ឬការដាក់កម្រិតរបបអាហារ
        </p>
      </div>
    </div>
    <div class="warpper_contact_recommand_one">
      <span>
        <i class="fa-solid fa-dollar-sign"></i>
      </span>
      <div class="warpper_contact_recommand_one_text">
        <h3>ដំណើរការការទូទាត់</h3>
        <p>
          គ្រប់គ្រងសាច់ប្រាក់ កាតឥណទាន ឬការទូទាត់តាមទូរស័ព្ទប្រកបដោយសុវត្តិភាព
        </p>
      </div>
    </div>
  </div>
</div>