<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
<section class="about_section">
  <div class="about_header_text">
    <h1>ក្រុមរបស់ពួកយើង</h1>
    <p>ស្វែករក និងយល់ដឹងអំពីព័ត៏មានរបស់ក្រុមពួកយើង</p>
  </div>
</section>

<section class="chef_section p_top5">
  <h2>ចុងភៅរបស់ភោជនីយដ្ឋាន</h2>
  <p>ជួបជាមួយចុងភៅជំនាញរបស់យើង ដែលមានបទពីសោធន៏តាមប្រភេទម្ហូបនីមួយៗ</p>
  <div class="grid_1x3">
    <article class="chef_content">
      <div class="chef_card_img">
        <img src="assets/images/chef_1.jpg" alt="" />
      </div>
      <p class="name_chef">លោក ឡុង សុវណ្ណតារា</p>
      <p class="skill_chef">ផ្នែកមុខម្ហូប​ សម្លឆា</p>
    </article>
    <article class="chef_content">
      <div class="chef_card_img">
        <img src="assets/images/chef_2.jpg" alt="" />
      </div>
      <p class="name_chef">លោក ជីម ឧស្សា</p>
      <p class="skill_chef">ផ្នែកមុខម្ហូប​ សម្លទឹក</p>
    </article>
    <article class="chef_content">
      <div class="chef_card_img">
        <img src="assets/images/chef_3.jpg" alt="" />
      </div>
      <p class="name_chef">អ្នកនាង សុខ សាន្ត</p>
      <p class="skill_chef">ផ្នែកមុខម្ហូប​ ញុំ</p>
    </article>
    <article class="chef_content">
      <div class="chef_card_img">
        <img src="assets/images/chef_4.jpg" alt="" />
      </div>
      <p class="name_chef">អ្នកនាង គង់ កិន្និការ</p>
      <p class="skill_chef">ផ្នែកមុខម្ហូប​ បង្អែម</p>
    </article>
    <article class="chef_content">
      <div class="chef_card_img">
        <img src="assets/images/chef_5.jpg" alt="" />
      </div>
      <p class="name_chef">អ្នកនាង ឆាឆា</p>
      <p class="skill_chef">ផ្នែកមុខម្ហូប​ ទូទៅ</p>
    </article>
    <article class="chef_content">
      <div class="chef_card_img">
        <img src="assets/images/chef_6.jpg" alt="" />
      </div>
      <p class="name_chef">លោក គីម ស៊ាងហួន</p>
      <p class="skill_chef">ផ្នែកមុខម្ហូប​ បង្អែម</p>
    </article>
  </div>
</section>

<section class="customer_comment p_top10">
  <div class="grid_1x2 warpper_content_customer">
    <article class="wrapper_customer_img">
      <div class="card_customer_1">
        <img src="../assets/images/customer.jpg" alt="" />
      </div>
      <div class="card_customer_2">
        <img src="../assets/images/customer_1.jpg" alt="" />
      </div>
    </article>
    <article class="wrapper_customer_detail">
      <div class="icon_quote">
        <i class="fa-solid fa-quote-right"></i>
      </div>
      <p>
        ពួកយើងយកចិត្តទុកដាក់បំផុតរាល់ធ្វើម្ហូបសម្រាប់បម្រើតម្រូវការរបស់អតិថិជន
        ដើម្បីឲ្យអតិថិជនទទួលបានរសជាតិមួយដែលមិនអាចភ្លេចបាន​​ ។
      </p>
      <hr />
      <div class="name_customer">
        <p>មេសា</p>
        <p>មេចុងភៅ</p>
      </div>
    </article>
  </div>
</section>

<section class="find_chef p_top10"></section>